@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
}

body {
    background-color: rgb(240, 244, 247);
    display: flex;
    flex-direction: column;
}
 
main {
    padding: 45px 30px 20px;
}

.title, .sub-title {
    font-family: 'Bebas Neue', sans-serif;
}

h2, .intro-text, .text, .footer-text{ 
    font-family: 'Nunito', sans-serif;
}

h2, .text {
    color: rgb(35, 29, 41);
}

.title {
    color: rgb(1, 1, 59);
    font-size: 3.5rem;
}

.girls {
    width: 100%;
    border-radius: 10px;
    margin: 25px 0;
}

.intro-text {
    color: rgb(1, 1, 59);
    font-size: 1.2rem;
}

h2 {
    font-size: 2rem;
    padding: 2.5rem 0 1rem;
}

.text {
    font-size: 1.2rem;
}

.sub-title {
    padding-top: 2.5rem;
    font-size: 2.75rem;
    color: rgb(1, 1, 59);
}

.corpus{
    margin: 20px 0;
}

.corpus {
    height: 55px;
}

.sage {
    height: 55px;
    margin-bottom: 30px;
}



